  <nav ng-controller="LogCtrl">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Mean. Green. Good.</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a ng-href="#/login" ng-show="!isActive">Login</a></li>
        <li><a ng-href="#/user-home" ng-show="isActive">Home</a></li>
        <li><a ng-href="#/ourrecipes" ng-show="isActive">Browse Recipes</a></li>
        <li><a ng-href="#/myrecipes" ng-show="isActive">Your Recipes</a></li>
        <li><a ng-href="#/logout" ng-show="isActive"><i class="material-icons left">perm_identity</i>Logout</a></li>
      </ul>
    </div>
  </nav>
