<h3 class="head center">{{title}}</h4>
<form>
 <div class='container recipe_form'>
  <div class="row">
    <div class="input-field col s8 center">
      <input ng-model="newRecipe.name" id="name_form" class="addname" type="text">
      <label for="name_form">Smoothie Name:</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input ng-model="newRecipe.ingredient_1" id="ingredient_form" type="text">
      <label for="ingredient_form">Ingredient:</label>
    </div>
    <div class="input-field col s6">
      <input ng-model="newRecipe.ingredient_2" id="ingredient_form" type="text">
      <label for="ingredient_form">Ingredient:</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input ng-model="newRecipe.ingredient_3" id="ingredient_form" type="text">
      <label for="ingredient_form">Ingredient:</label>
    </div>
    <div class="input-field col s6">
      <input ng-model="newRecipe.ingredient_4" id="ingredient_form" type="text">
      <label for="ingredient_form">Ingredient:</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input ng-model="newRecipe.ingredient_5" id="ingredient_form" type="text">
      <label for="ingredient_form">Ingredient:</label>
    </div>
    <div class="input-field col s6">
      <input ng-model="newRecipe.ingredient_6" id="ingredient_form" type="text">
      <label for="ingredient_form">Ingredient:</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input ng-model="newRecipe.ingredient_7" id="ingredient_form" type="text">
      <label for="ingredient_form">Ingredient:</label>
    </div>
    <div class="input-field col s6">
      <input ng-model="newRecipe.ingredient_8" id="ingredient_form" type="text">
      <label for="ingredient_form">Ingredient:</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s8">
      <input ng-model="newRecipe.step_1" id="step_form" type="text">
      <label for="step_form">Step #1:</label>
    </div>
  </div>

  <div class="center">
  </div>
  <div class="row">
    <div class="input-field col s8">
      <input ng-model="newRecipe.step_2" id="step_form" type="text">
      <label for="step_form">Step #2:</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s8">
      <input ng-model="newRecipe.step_3" id="step_form" type="text">
      <label for="step_form">Step #3:</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s8">
      <textarea ng-model="newRecipe.notes" id="notes_form" class="materialize-textarea"></textarea>
      <label for="notes_form">Notes:</label>
    </div>
  </div>
  <div>
    <button class="logbtn btn center-align center waves-effect waves-green" ng-click="addNewRecipe(newRecipe)">{{submitButtonText}}</button>
  </div>
  </div>
  </div>
</form>



