<h3 class="head center">My Recipes</h3>
    <div class="container">
      <form>
        <div class="input-field">
          <input ng-model="searchText" id="search" type="search" placeholder="Search your recipes..">
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>

<div class="row">
  <div ng-repeat="thingy in userRecipes | filter: searchText">
    <div class="col s12 m6">
      <div class="card recipe_card">
        <div class="card-content">
          <h5 class="card-title center">{{thingy.name}}</h5>
          <h5 class="sub-title">Ingredients:</h5>
          <p>{{thingy.ingredient_1}}</p>
          <p>{{thingy.ingredient_2}}</p>
          <p>{{thingy.ingredient_3}}</p>
          <p>{{thingy.ingredient_4}}</p>
          <p>{{thingy.ingredient_5}}</p>
          <p>{{thingy.ingredient_6}}</p>
          <p>{{thingy.ingredient_7}}</p>
          <p>{{thingy.ingredient_8}}</p>
          <h5 class="sub-title">Directions:</h5>
          <p>{{thingy.step_1}}</p>
          <p>{{thingy.step_2}}</p>
          <p>{{thingy.step_3}}</p>
          <h5 class="sub-title">Notes:</h5>
          <p>{{thingy.notes}}</p>
        </div>

        <div class="card-action center-align">
          <a class="btn logbtn waves-effect waves-green" ng-click="getSingleRecipe(thingy)" ng-href="#/myrecipes/{{thingy.id}}/edit"><i class="material-icons left">mode_edit</i>Edit</a>
          <a class="btn logbtn waves-effect waves-green" ng-click="deleteRecipe(thingy)"><i class="material-icons left">delete_forever</i>Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
